@page

@model RegisterModel
@{
    ViewData["Title"] = "Register";
}

<div class="container">
    <br></br><br></br><br><br></br><br></br>
    <div class="justify-content-center row col-sm w-50 mx-auto gradient-border" id="box">
        <div class="card-body bg-dark border border-primary ">
            <main>
                <div class="card-header text-center"><h2 class="fw-light">Cadastrar-se</h2></div>
                <form id="registerForm" asp-route-returnUrl="@Model.ReturnUrl" method="post">
                    <hr />
                    <div asp-validation-summary="ModelOnly" class="text-danger" role="alert"></div>
                    <div class="form-floating mb-3">
                        <input asp-for="Input.Name" class="form-control" autocomplete="username" aria-required="true" placeholder="Nome" />
                        <label asp-for="Input.Name" class="text-dark">Nome</label>
                        <span asp-validation-for="Input.Name" class="text-danger"></span>
                    </div>
                    <div class="form-floating mb-3">
                        <input asp-for="Input.Email" class="form-control" autocomplete="username" aria-required="true" placeholder="name@example.com" />
                        <label asp-for="Input.Email" class="text-dark">Email</label>
                        <span asp-validation-for="Input.Email" class="text-danger"></span>
                    </div>
                    <div class="form-floating mb-3">
                        <input asp-for="Input.Password" class="form-control" autocomplete="new-password" aria-required="true" placeholder="password" />
                        <label asp-for="Input.Password" class="text-dark">Senha</label>
                        <span asp-validation-for="Input.Password" class="text-danger"></span>
                    </div>
                    <div class="form-floating mb-3">
                        <input asp-for="Input.ConfirmPassword" class="form-control" autocomplete="new-password" aria-required="true" placeholder="password" />
                        <label asp-for="Input.ConfirmPassword" class="text-dark">Confirmar Senha</label>
                        <span asp-validation-for="Input.ConfirmPassword" class="text-danger"></span>
                    </div>
                    <button id="registerSubmit" type="submit" class="w-100 btn btn-lg btn-primary">Register</button>
                </form>
            </main>
        </div>
    </div>
</div>

<style>

    /*Card*/


    .gradient-border {
        --borderWidth: 2px;
        position: relative;
        border-radius: var(--borderWidth);
    }

        .gradient-border:after {
            content: '';
            position: absolute;
            top: calc(-1 * var(--borderWidth));
            left: calc(-1 * var(--borderWidth));
            height: calc(100% + var(--borderWidth) * 2);
            width: calc(100% + var(--borderWidth) * 2);
            background: linear-gradient(60deg, #7eb5d6, #649ebe, #4a87a6, #2f708e, #155976, #1098ad, #07b39b, #2f708e);
            border-radius: calc(2 * var(--borderWidth));
            z-index: -1;
            animation: animatedgradient 3s ease alternate infinite;
            background-size: 300% 300%;
        }


    @@keyframes animatedgradient {
        0% {
            background-position: 0% 50%;
        }

        50% {
            background-position: 100% 50%;
        }

        100% {
            background-position: 0% 50%;
        }
    }
</style>

@section Scripts {
    <partial name="_ValidationScriptsPartial" />
}
